@media screen and (min-width: 1000px) {
  body {
    width: 80%;
    margin: auto;
  }
}
#message-box{
  width: 100%;
  height: 100%;
}
#message-box div{
  border: 2px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2px;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  height: 100%;
}

.board {
  width: 75%;
  margin: 5px;
  border: 2px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.popup .confirm{
  align-self: flex-end;
}

#dice {
  font-size: 100px;
}
#dice:hover {
  cursor: pointer;
}

.popup div{
  flex-grow: 1;
  height: auto;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.popup div input{
  margin: 4px;
}
.popup div label{
  margin: 0px 4px 0px 4px;
}

.popup div div{
  margin: 6px;
  flex-direction: column;
}
.popup div div label{
  margin: 6px;
}
.popup div div select{
  margin: 6px;
  font-size: 2.2vh;
}

.popup{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2vw;
}

.popup div button{
  margin: 5px;
}

.rolldice{
  align-self: center;
}

#current-player {
  border: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-radius: 8%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#current-player div span {
  padding: 2px 0px;
}

#all-players {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.active {
  border: 4px solid chocolate;
}

#all-players div {
  border: 2px solid black;
  border-radius: 8%;
  padding: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all-players div span {
  padding: 2px 0px;
}

#activity-box {
  border: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.board #cards {
  display: flex;
  max-height: 20vh;
  width: auto;
  height: auto;
  flex-grow: 1;
  justify-content: center;
}

.board #cards img {
  width: 4vw;
  margin: 0px 5px;
  border: 3px solid black;
}

main #title {
  font-size: 1.5vw;
  padding: 10px;
  text-align: center;
}

body {
  display: flex;
  height: 99vh;
}

main {
  display: flex;
  margin: 8px 2px;
  flex-grow: 1;
  border: 3px solid black;
  height: 97vh;
  flex-direction: column;
}
