@media screen and (min-width: 1000px){
  body {
    width: 80%;
    margin: auto;
  }
} 

.board {
  width: 75%;
  margin: 5px;
  border: 2px solid black;
}

#all-players {
  border: 2px solid black;
  margin: auto;
  height: 100%;
  width: 100%;
}

#activity-box{
  border: 2px solid black;
  margin: auto;
  height: 100%;
  width: 100%;
}

.board #cards-dice {
  display: flex;
  max-height: 20vh;
  width: auto;
  height: auto;
  flex-grow: 1;
  justify-content: center;
}

.board #cards-dice #cards {
  flex-grow: 1;
  justify-content: center;
}

.board #cards-dice #dice{
  background-image: url('/images/dice.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  flex-grow:1;
}

.board #cards img{
  width: 4vw;
  margin: 0px 5px;
}

main #title {
  font-size: 1.5vw;
  padding : 10px;
  text-align: center;
}

body {
  display: flex;
  height : 99vh;
}

main {
  display: flex;
  margin : 8px 2px;
  flex-grow: 1;
  border: 3px solid black;
  height: 97vh;
  flex-direction: column;
}
