body {
  font-family: 'Acme';
  background-image: url('/images/bbg.jpg');
}

p {
  font-family: 'Acme';
  color: #dfb577;
  margin-top: 10px;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

html,body {
  height: 99%;
}

main {
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 5px #8B4513;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 350px;
}

button {
  font-family: 'Acme';
}

input {
  font-family: 'Acme';
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 300;
}

form label {
  text-align: left;
  margin: 6px 0 0;
  font-size: 1.2em;
  color: #1a0800;
  font-weight: 400;
}

form input:not([type=submit]),
select {
  font-size: 18px;
  padding: 7px 0;
  margin: 5px 0 0;
  outline: none;
  border: none;
  background-color: #dfb577;
  border-bottom: 2px solid #1a0800;
}

form select {
  background-color: none;
  font-size: 20px;
  margin: 20px 0px 0px;
}

form input[type=submit] {
  padding: 8px 0;
  margin: 15px 0 0;
  border: none;
  font-size: 22px;
  color: #dfb577;
  background-color: #8B4513;
}

form input[type=submit]:hover {
  background-color: #dfb577;
  cursor: pointer;
  /*background-image: url('/images/bg.jpg');*/
}

form .error {
  padding: 5px 0px;
  color: #ac1c12;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 0;
}

.tab {
  display: flex;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.tab button {
  background-color: #8B4513;
  width: 50%;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 22px;
  color: #dfb577;
}

form input[type=submit]:hover {
  background-color: #8B4513;
}

.tab button.active {
  /*background-image: url('/images/bg.jpg');*/
  background-color: #dfb577;
  color: black;
  font-weight: 600;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.cluedoForm {
  background-color: #dfb577;
}

.styled-select.slate {
  background: url('/images/arrow.png') no-repeat right center;
  background-size: contain;
  height: 40px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}
