body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

h1 {
  color: #22658C;
  text-align: center;
  font-size: 6vh;
  font-weight: 400;
}

main {
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #170f17;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 350px;
}

form {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 300;
}

form label {
  text-align: left;
  margin: 6px 0 0;
  font-size: 1.2em;
  color: rgb(15, 102, 124);
}

form input:not([type=submit]),
select {
  font-size: 18px;
  padding: 7px 0;
  margin: 5px 0 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #CCC;
}

form input:not([type=submit]):hover,
select {
  border-bottom: 2px solid #4983A6;
}

form input:not([type=submit]):focus,
select {
  border-bottom: 2px solid #4983A6;
}

form select{
  background-color: none;
  font-size: 20px;
  margin: 20px 0px 0px;
}

form input[type=submit] {
  padding: 8px 0;
  margin: 15px 0 0;
  border: none;
  font-size: 22px;
  color: aliceblue;
  background-color: #2F6D92;
}

form input[type=submit]:hover {
  background-color: #22658C;
}

form .error {
  padding: 5px 0px;
  color: rgba(248, 61, 36, 0.808);
  margin: 10px 0 0;
}

.tab {
  display: flex;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

.tab button {
  background-color: inherit;
  width: 50%;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 18px;
}

.tab button:hover {
  background-color: #4983A6;
  color: white;
}

.tab button.active {
  background-color: #22658C;
  color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
