body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #1D247B;
  text-align: center;
  font-size: 10vh;
  font-weight: 400;
}

h2 {
  color:#22658C;;
  text-align: center;
  font-size: 3vh;
  font-weight: 400;
}

form {
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #170f17;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 300px;
}

form {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 300;
}

form label {
  text-align: left;
  margin: 6px 0 0;
  font-size: 1.2em;
  color: #22658C;;
}

form input:not([type=submit]) {
  font-size: 18px;
  padding: 7px 0;
  margin: 5px 0 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #CCC;
}

form input:not([type=submit]):hover {
  border-bottom: 2px solid rgb(166, 185, 226);
}

form input:not([type=submit]):focus {
  border-bottom: 2px solid #22658C;
}

form input[type=submit] {
  padding: 8px 0;
  margin: 20px 0 0;
  border: none;
  font-size: 22px;
  color: aliceblue;
  background-color: #2F6D92;
}

form input[type=submit]:hover {
  background-color: #22658C;
}

form .error {
  padding: 5px 0px;
  color: rgba(248, 61, 36, 0.808);
  margin: 10px 0 0;
}
