body {
  font-family: 'Roboto', sans-serif;
}
html{
  height: 100%;
}
h3 {
  color:#700202;;
  text-align: center;
  font-size: 3vh;
  font-weight: 400;
}
h4 {
  color:#700202;
  text-align: center;
  font-size: 3.5vh;
  font-weight: 400;
}
.wait {
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px 5px black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #c19e67;
  position:absolute;
  top: 0;
  bottom: 0;
  left:0px;
  right:0px;
  margin: auto;
  margin-bottom: 110px;
  width: 40%;
  height: 60%;
  font-size: 15px;
}

.wait {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-weight: 400;
}
.wait div{
  padding: 5px;
  font-size: 22px;
}
.wait span{
  padding: 5px;
  font-size: 26px;
}
.logo {
  width: 50vh;
  height: 15vh;
  left:0px;
  right:0px;
  top: 30px;
  margin:auto;
  position: absolute;
}
