<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/layout.css">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:300" rel="stylesheet">
  <script src="/js/board.js"></script>
  <script src="/js/boardStatus.js"></script>
  <script src="/js/game.js"></script>
  <script src="/js/activitylog.js" charset="utf-8"></script>
  <title>Cluedo</title>
</head>

<body>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="close"></div>
      <div id="message-box"></div>
      <div id="activity-box">

      </div>
      <div class="messageOnBottom">

      </div>
      <div class="buttonInCenter"></div>
    </div>
  </div>
  <header>
    <div class="cluedo">CLUEDO</div>
    <div id="leave"></div>
  </header>
  <div class="container">
    <div class='board'>
      <div id="board"></div>
      <div>
        <div class="player-details">
          <div>
            <div class="subtitle">You</div>
            <div id="current-player">
            </div>
          </div>
          <div>
            <div class="subtitle">Cards</div>
            <div id="cards">

            </div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div>
        <div id="log" class="active">
          <div class="title">Activity Log</div>
          <div id="activity-log">
          </div>
        </div>
        <div class="subtitle">All Players</div>
        <div id="all-players">
        </div>
      </div>
    </main>
  </div>
</body>

</html>
